.encounter{
    font-size :40px;
    font-weight:bold;
    text-align:center;
    margin-top:30px;
    color:chartreuse;
    font-family: 'Arial', sans-serif;
}
.introduction{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.introduce{
    font-size: 20px;
    margin: 20px;
    line-height: 1.5;
    color:darkgreen;
    font-family: 'Arial', sans-serif;
}
.introduce h3{
    font-size: 24px;
    color:dodgerblue;
    margin-bottom: 10px;
};
.navigation{
    background-color : skyblue;
    padding : 20px;
    gap: 20px;
    display : flex; /*내비게이션바 핵심*/
    
}
.navigation a {

    color:mediumseagreen;

    text-decoration: none;

    font-weight: bold;

    padding-left: 30px; /*내비게이션 바의 글자들 간격*/

}