.encounter{
    font-size :40px;
    font-weight:bold;
    text-align:center;
    margin-top:30px;
    color:chartreuse;
    font-family: 'Arial', sans-serif;
    
}
.user{
    display:flex;
}
.introduction{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.introduce{
    font-size: 20px;
    margin: 20px;
    line-height: 1.5;
    color:darkgreen;
    font-family: 'Arial', sans-serif;
}
.introduce h3{
    font-size: 24px;
    color:dodgerblue;
    margin-bottom: 10px;
}
.navigation{
    background-color :rgb(56, 190, 83);
    padding : 20px;
    gap: 20px;
    display : flex; /*내비게이션바 핵심*/
}
.navigation button {

    color:rgb(25, 38, 153);

    font-weight: bold;

    border-radius: 0;

    background-color: rgb(165, 249, 249);

};
.active {
    color:rgb(70, 79, 163);

    font-weight: bold;

    border-radius: 0;

    background-color: rgb(85, 151, 151);
}

.speches{
    width: 500px;
    height: 100px;
    background-color: rgb(36, 210, 65);
    border-radius: 20px;
    border-style: solid;

    font-style: normal;
    text-align: center;
}